body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}
